/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.question-number-container {
  text-align: left;
  display: flex;
  align-items: center;
}

.question-container {
  padding: 0 80px;
  max-width: 720px;
}

.right-arrow {
  height: 10px;
  width: 10px;
  margin-left: 4px;
}

.question-number {
  min-width: 25px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-right: 12px;
}

.question-text {
  font-size: 24px;
  line-height: 32px;
}

.question-subtitle {
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 8px;
}
