.logo {
  margin: 20px;
  width: 120px;
}

.full-scroll-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
}

.full-scroll-content::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.full-scroll-content {
  color: white;
  width: 100%;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.full-scroll-page {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}

.full-scroll-page-content {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

@media only screen and (max-width: 576px){
  .full-scroll-page-content {
    margin-top: 40px;
  }
}