@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
:root {
  font-family: "Questrial", sans-serif;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0;
}
